.container {
  margin-left: auto;
  margin-right: auto;
}

.sm { max-width: 640px; }
.md { max-width: 768px; }
.lg { max-width: 1024px; }
.xl { max-width: 1280px; }
.xl2 { max-width: 1536px; }
.xl7 { max-width: 80rem; }
.full { max-width: 100%; }
